/* Space out content a bit */
body {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
	padding-right: 1rem;
	padding-left: 1rem;
}

/* Custom page header */
.header {
	padding-bottom: 1rem;
	border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 3rem;
}

/* Custom page footer */
.footer {
	padding-top: 1.5rem;
	color: #777;
	border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
	.container {
		max-width: 46rem;
	}
}

/*game-container*/
#game-container{
	background-color: #f1f1f1;
	border-radius: 15px;
	margin: 0 auto 20px;
}
.layer-item{
	fill: #f1f1f1;
	stroke: #8a8a8a;
	stroke-width: 8px;
	cursor: pointer;
	transition-property: all;
	transition-duration: 0.5s;
}
.layer-item:hover{
	fill: #c3c3c3;
}
.layer-text{
	stroke: #000;
	cursor: pointer;
}

/* Tree and nodes */
.node {
	cursor: pointer;
}
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}
.node text {
	font: 10px sans-serif;
}
.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

#tree-container{
	background-color: #f3f3f3;
}